.env
.vscode/
__pycache__/
*.pyc
*.log
env/
config.env
temp.txt
data.json
prompts.json
test.py
test2.py
test3.py
generated_samples/
generated_datasets/
finetuned_models/
llama.cpp/
_unsloth_sentencepiece_temp/
outputs/
model/
unsloth_compiled_cache/